.search {
  border-radius: 3em;
  width: 30em;
  background-color: var(--header-color);
}

.filters div {
  background-color: var(--header-color);
  border-radius: 2em;
}
.filters__item {
  @apply flex justify-between w-48 px-5 py-2 items-center;
}
.modal-content {
  background-color: var(--main-color);
}
.notauth {
  border-radius: 3em;
}
.singin-m {
  background-color: var(--button-color);
}
.singup-m {
  background-color: var(--header-color);
}
