.new {
  background-color: var(--header-color);
  border-radius: 4em;
  height: 100%;
}
.news-aside {
  justify-content: space-between;
}
.img-list-container {
  overflow: hidden;
  border-radius: 3em;
  height: 100%;
  width: 25%;
}
.img-list-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-list {
  background-color: var(--header-color);
  border-radius: 3em;
  height: 20%;
}
.news-container {
  height: 30em;
  margin-bottom: 4em;
}
.new-img-container {
  height: 19.4em;
  overflow: hidden;
}
.new-img-container img {
  object-fit: cover;
  border-radius: 3em;
  width: 100%;
  height: 100%;
}
